<div class="upload-container">
    <h1>Upload files required to upgrade to premium</h1>
    <form class="upload-form" method="post" action="/premium/uploaduser" enctype="multipart/form-data">
        <label for="product" class="upload-label">Product file upload:</label>
        <input id="product" name="product" type="file" class="upload-input" /><br />
        
        <label for="serviceBill" class="upload-label">Upload service bill:</label>
        <input id="serviceBill" name="serviceBill" type="file" class="upload-input" /><br />
        
        <label for="uploadImg" class="upload-label">Upload photo profile:</label>
        <input id="uploadImg" name="profile" type="file" class="upload-input" /><br />
        
        <button type="submit" class="upload-button">Send</button>
    </form>
</div>

